#################
# PORT          #
#################
PORT=3000

#################
# Database      #
#################
DATABASE_URL=postgres://postgres:postgres@localhost:5432/gemini_db
   
#################
# Redis         #
#################
REDIS_URL=redis://localhost:6379

#################
# JWT           #
#################
JWT_SECRET=your-super-secret-jwt-key
JWT_EXPIRES_IN=24h

#################
# Gemini API Key#
#################
GEMINI_API_KEY=<You api key>

#################
# RabbitMQ      #
#################
RABBITMQ_URL=amqp://localhost:5672

#################
# Stripe        #
#################
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key_here
STRIPE_PRICE_ID=price_your_stripe_price_id_here
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret_here
STRIPE_SUCCESS_URL=http://localhost:3000/success
STRIPE_CANCEL_URL=http://localhost:3000/cancel